{% extends "home-base.html"%}
{% block title %}All Artists{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Artists:</h1>
    <div class="row bottom-margin">
      <a href="/artist/add" class="btn btn-primary" role="button" aria-disabled="true">Add Artists</a>
    </div>
    {% if artists %}
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>About</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for artist in artists %}
          <tr>
              <th scope="row">{{artist.id}}</th>
              <td>{{artist.name}}</td>
              <td>{{artist.about}}</td>
              <td>
                <a href="/artist/edit/{{artist.id}}" class="btn btn-success" role="button">Edit</a>
                <a href="/artist/delete/{{artist.id}}" class="btn btn-danger" role="button">Delete</a>
              </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3>there is no artists in the database yet.</h3>
    {% endif %}
  </div>

{% endblock%}
