{% extends "home-base.html"%}
{% block title %}Edit Artist{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Edit Artist:</h1>
    <form action="/artist/edit/{{artist.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{artist.name}}" required="true">
      </div>
      <div class="form-group">
        <label>About</label>
        <textarea class="form-control" name="about" required="true">{{artist.about}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>

{% endblock%}
