{% extends "home-base.html"%}
{% block title %}All Songs{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Songs:</h1>
    <div class="row bottom-margin">
      <a href="/song/add" class="btn btn-primary" role="button" aria-disabled="true">Add Songs</a>
    </div>
    {% if songs %}
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Year</th>
            <th>Lyrics</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          <tr>
              <th scope="row">{{song.id}}</th>
              <td>{{song.name}}</td>
              <td>{{song.year}}</td>
              <td>{{song.lyrics}}</td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3>There are no songs in the database yet.</h3>
    {% endif %}
  </div>

{% endblock%}
